@import "reset.css";
input:before,
input:after,
button:before,
button:after,
.selectors:before,
.selectors:after,
.content:before,
.content:after,
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
input:after,
button:after,
.selectors:after,
.content:after,
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url("fonts/MyriadPro-Regular.otf");
}
@font-face {
  font-family: "Myriad Bold";
  src: url("fonts/MyriadPro-Bold.otf");
}
@font-face {
  font-family: "Myriad Roman";
  src: url("fonts/Myriad-Roman.ttf");
}
html,
body {
  width: 100%;
  font: 100%/1.5em Arial, "Myriad Roman", sans-serif;
}
.content {
  width: 100%;
  max-width: 940px;
  min-width: 940px;
  margin: 0 auto;
  margin-top: 1.063829787234043%;
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.cols {
  float: left;
  text-align: center;
  margin: 0 auto;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.666666666666664%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333333333%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333333%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
.row {
  display: block;
  margin: 0 auto;
  width: 100%;
}
header img {
  float: left;
  margin-right: 2.127659574468085%;
  margin-left: 3.404255319148936%;
}
header .logo {
  float: left;
}
header .logo h1 {
  text-transform: uppercase;
  color: #121212;
  font: 1.875em "Myriad Bold";
  margin-top: 7%;
}
header .logo h1 span {
  text-transform: none;
  font: 1em "Myriad Roman";
  color: #0bb1e8;
}
header .logo p {
  text-align: left;
  font: 0.75em Arial;
  color: #111017;
}
.cart {
  font: 0.8125em Arial;
  margin-bottom: 2.127659574468085%;
}
.cart a {
  color: #0bb1e8;
  text-decoration: none;
  border-bottom: 1px #0bb1e8 solid;
}
.cart text {
  color: #9a9a9a;
}
.cart #cart_count {
  color: #121212;
}
.language {
  padding-left: 2.127659574468085%;
  box-sizing: border-box;
  float: right;
  width: 86.38297872340426%;
  height: 41px;
  background: url("../img/choose-language.png") center no-repeat;
}
.language .text {
  float: left;
  font: 0.8125em Arial;
  line-height: 1.625em;
  color: #ffffff;
  margin-right: 6.060606060606061%;
}
.language .selectors {
  margin-top: 2.216748768472906%;
}
select {
  border: none;
  padding-left: 1.262626262626263%;
  font-size: 0.6875em;
  color: #9a9a9a;
  width: 23.48484848484848%;
  height: 22px;
  border-radius: 5px;
  -webkit-appearance: none;
  background-image: url('../img/select.png');
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}
select::-ms-expand {
  display: none;
}
option {
  color: #9a9a9a;
}
#lang {
  float: left;
}
#money {
  float: right;
  margin-right: 6.565656565656566%;
}
.main_menu {
  height: 51px;
  background: url("../img/main-menu.png") no-repeat center;
  background-size: 100%;
  font: 400 100%/1.5em "Myriad Roman";
}
.main_menu ul {
  width: 70.57021276595745%;
  display: inline-block;
  float: left;
  margin-top: 1.808510638297872%;
  list-style-type: none;
}
.main_menu ul img {
  float: left;
  margin: 0;
  margin-top: -7px;
}
.main_menu ul li {
  float: left;
  margin-left: 5.125422093584178%;
  margin-right: 5.125422093584178%;
  overflow: hidden;
}
.main_menu ul li a {
  color: #2f3638;
  text-decoration: none;
}
.main_menu ul li a:hover {
  color: #0bb1e8;
}
.main_menu ul li:first-child a {
  color: #0bb1e8;
}
input {
  font: 900 100%/1.846153846153846em "Myriad Roman";
  color: #2f3638;
  margin-left: 5.319148936170213%;
  margin-top: 1.382978723404255%;
  margin-right: 0.9574468085106383%;
  float: left;
  border: 1px #cacaca solid;
  width: 17.4468085106383%;
  height: 41.17647058823529%;
}
button {
  border-radius: 3px;
  float: left;
  border: none;
  height: 45.09803921568627%;
  width: 2.978723404255319%;
  margin-top: 1.48936170212766%;
  background: url("../img/search.png") no-repeat center;
}
button:hover {
  box-shadow: 2px 2px 5px rgba(11, 159, 232, 0.6);
}
.offers-menu {
  width: 100%;
  height: 326px;
  background: url("../img/border-offers.png") no-repeat center;
  font: 1.25em "Myriad Roman";
  line-height: 1.375em;
  color: #2f3638;
}
.offers-menu ul {
  float: left;
  width: 27.23404255319149%;
  padding-top: 8px;
  padding-left: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;
}
.offers-menu ul li {
  width: 100%;
  text-align: left;
  height: 62px;
  background: url("../img/offer-list-background.png");
  border-radius: 0;
}
.offers-menu ul li a {
  color: #2f3638;
  text-decoration: none;
}
.offers-menu ul li#offer-link-1:hover {
  background: url("../img/offer-list-background-hover-1.png");
}
.offers-menu ul li#offer-link-2:hover {
  background: url("../img/offer-list-background-hover-2.png");
}
.offers-menu ul li#offer-link-3:hover {
  background: url("../img/offer-list-background-hover-3.png");
}
.offers-menu ul li#offer-link-4:hover {
  background: url("../img/offer-list-background-hover-4.png");
}
.offers-menu ul li#offer-link-5:hover {
  background: url("../img/offer-list-background-hover-5.png");
}
.offers-menu ul li:hover a {
  color: #ffffff;
}
.offers-menu ul li:first-child {
  border-top-left-radius: 3px;
  background: url("../img/offer-list-background-hover-1.png");
}
.offers-menu ul li:first-child a {
  color: #ffffff;
}
.offers-menu ul li:last-child {
  border-bottom-left-radius: 3px;
}
.offers-menu ul li a {
  float: left;
}
.offers-menu ul li a img {
  float: left;
  margin: 0;
  margin-right: 10px;
}
.offers-menu ul li .offer-link {
  display: inline-block;
  text-align: left;
  margin-left: 16px;
  margin-top: 18px;
}
.offers-menu .selected-offer {
  float: left;
  height: 100%;
  width: 71.91489361702128%;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  background: url("../img/selected-offers-background.png") no-repeat center;
}
.offers-menu .selected-offer #offer-img {
  height: 100%;
}
.offers-menu .selected-offer .offer-info {
  display: inline-block;
  color: #ffffff;
  font-family: "Myriad Bold";
  width: 100%;
  height: 100%;
  background: url("../img/selected-offer-1.png") no-repeat bottom right;
}
.offers-menu .selected-offer .offer-info:hover {
  background-repeat: no-repeat;
  background-position: bottom right;
}
#offer-text-1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 270px;
  margin-left: 40px;
  margin-top: 96px;
  text-align: left;
}
#offer-text-1 h2 {
  font-size: 28px;
  line-height: 1em;
}
#offer-text-1 h1 {
  margin-top: 20px;
  font-size: 40px;
  line-height: 1em;
}
#offer-text-1 h3 {
  margin-top: 7px;
  font: 100 0.95em "Myriad Roman";
  line-height: 1.2em;
}
#offer-text-2 {
  display: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 330px;
  margin-left: 60px;
  margin-top: 105px;
  text-align: left;
}
#offer-text-2 h2 {
  margin-top: 20px;
  font-size: 30px;
  line-height: 1em;
}
#offer-text-2 h1 {
  font-size: 44px;
  line-height: 1em;
}
#offer-text-2 h3 {
  margin-top: 7px;
  font: 100 0.95em "Myriad Roman";
  line-height: 1.2em;
}
#offer-text-3 {
  display: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 250px;
  margin-left: 60px;
  margin-top: 120px;
  text-align: left;
}
#offer-text-3 h1 {
  margin-top: 10px;
  font-size: 40px;
  line-height: 1em;
}
#offer-text-3 h3 {
  font: 100 0.95em "Myriad Roman";
  line-height: 1.2em;
}
#offer-text-4 {
  display: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 330px;
  margin-left: 60px;
  margin-top: 120px;
  text-align: left;
}
#offer-text-4 h1 {
  margin-top: 14px;
  font-size: 40px;
  line-height: 1em;
}
#offer-text-4 h3 {
  font: 100 0.95em "Myriad Roman";
  line-height: 1.2em;
}
#offer-text-5 {
  display: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  width: 180px;
  margin-left: 40px;
  margin-top: 86px;
}
#offer-text-5 h2 {
  font-size: 1.75em;
  line-height: 1em;
}
#offer-text-5 h1 {
  font-size: 2.75em;
  line-height: 1em;
}
#offer-text-5 h3 {
  margin-top: 7px;
  font: 100 0.95em "Myriad Roman";
  line-height: 1.2em;
}
aside {
  margin-top: 30px;
}
.left-menu {
  float: left;
  width: 256px;
  text-align: left;
}
.left-menu ul {
  list-style-image: url("../img/arrow-right.png");
}
.left-menu ul li {
  margin-left: 40px;
  /*color: @grey-dotted-spliter;
      border-bottom: 1px dotted;

      &:last-child{
        border: none;
      }*/
}
.left-menu ul li a {
  text-decoration: none;
  font: 300 14px/30px Arial, sans-serif;
  color: #111017;
}
.left-menu ul li a:hover {
  color: #0bb1e8;
}
.left-menu-spliter {
  display: block;
  padding: 0;
  margin: 0 auto;
}
.left-menu-header {
  font: 300 16px/30px Arial, sans-serif;
  height: 32px;
  background: url("../img/left-menu-header.png") no-repeat center;
}
.left-menu-header p {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  margin-left: 30px;
}
.left-menu-offer {
  height: 190px;
  width: 100%;
  background: url("../img/left-menu-offer.png") no-repeat center;
}
.left-menu-offer .text {
  display: inline-block;
  margin-top: 56px;
  margin-left: 35px;
  width: 120px;
  color: #ffffff;
}
.left-menu-offer .text .model {
  font: 100 23px/20px "Myriad Pro Regular", Arial, sans-serif;
}
.left-menu-offer .text .price {
  margin-top: 10px;
  font: bold 23px/20px "Myriad Pro Regular", Arial, sans-serif;
}
.search-select {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 18px;
  margin-left: 18px;
  margin-bottom: 10px;
}
.search-select input {
  width: 160px;
  height: 20px;
  margin: 0;
  padding: 0;
  font: 100 12px/32px Arial, sans-serif;
  padding-left: 10px;
}
.search-select input::-webkit-input-placeholder {
  color: #a6a5a7;
}
.search-select input::-moz-placeholder {
  color: #a6a5a7;
}
.search-select button {
  background: url("../img/button-arrow-down.png");
  width: 36px;
  height: 23px;
  margin: 0;
  margin-left: 9px;
  padding: 0;
}
.row-view-content {
  width: 684px;
  float: right;
  padding-left: 20px;
  box-sizing: border-box;
}
.row-view-content img {
  float: left;
  padding-top: 7px;
}
.row-view-content img.horisontal {
  padding: 0;
}
.row-view-content img.more {
  height: 275px;
}
.cols-view {
  float: left;
}
.col-view {
  position: relative;
  width: 163px;
  height: 223px;
}
.col-view.more {
  height: 289px;
}
.col-view:first-child {
  padding-right: 7px;
}
.col-view .about {
  position: absolute;
  width: 120px;
  margin: 0 auto;
  top: 143px;
  left: 23px;
}
.col-view .about .details {
  width: 100%;
  text-align: center;
  height: 13px;
  margin-top: 12px;
}
.col-view .about .details a {
  display: inline;
}
.col-view .about .details a.left {
  float: left;
}
.col-view .about .details a.right {
  float: right;
}
.col-view .about .details p {
  display: inline;
  vertical-align: top;
}
.col-view .about .other-text {
  font-size: 11px;
  line-height: 16px;
  /*&.inline{
        display: inline-block;
      }
      &.right{
        float: right;
      }
      &.left{
        float: left;
      }*/
}
.col-view .about .other-text.aqua {
  color: #0bb1e8;
}
.col-view .about p {
  text-align: left;
}
.col-view .about p.model {
  font: normal 13px/16px Arial, sans-serif;
  color: #111017;
}
.col-view .about p.price {
  font: bold 13px/24px Arial, sans-serif;
  color: #0bb1e8;
}
img.product-small {
  float: none;
  display: block;
  margin: 0 auto;
}
img.product-small.left {
  float: left;
}
.view-content-header {
  width: 100%;
  float: left;
  padding-left: 30px;
  box-sizing: border-box;
}
.view-content-header p {
  float: left;
  font: 200 24px/32px "Myriad Roman", Arial, sans-serif;
}
.view-content-header p.logo-style-black {
  color: #2f3638;
}
.view-content-header p.logo-style-aqua {
  color: #0bb1e8;
}
.view-all {
  float: right;
  height: 23px;
  width: 142px;
  background: url("../img/view-all.png");
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font: bold 13px/16px "Arial", sans-serif;
}
.carusel {
  float: left;
  height: 80px;
  width: 100%;
}
.carusel button {
  height: 100%;
  margin: 0;
  padding: 0;
}
.carusel button.left {
  float: left;
  background: url("../img/footer-left-button.png") no-repeat center;
}
.carusel button.right {
  float: right;
  background: url("../img/footer-right-button.png") no-repeat center;
}
.carusel .spotlights {
  float: left;
  height: 100%;
  width: auto;
  margin-left: 15px;
}
.carusel .spotlights .spotlight {
  position: relative;
  height: 100%;
  width: 215px;
  background-color: orange;
  float: left;
  margin: 0 auto;
}
.carusel .spotlights .spotlight#spot-1 {
  background: url("../img/productPreview/carusel/img-1.png") no-repeat center left;
}
.carusel .spotlights .spotlight#spot-2 {
  background: url("../img/productPreview/carusel/img-2.png") no-repeat center left;
}
.carusel .spotlights .spotlight#spot-3 {
  background: url("../img/productPreview/carusel/img-3.png") no-repeat center left;
}
.carusel .spotlights .spotlight#spot-4 {
  background: url("../img/productPreview/carusel/img-4.png") no-repeat center left;
}
.carusel .spotlights .spotlight .about {
  position: absolute;
  top: 10px;
  left: 100px;
  box-sizing: border-box;
  padding-left: 5px;
}
.carusel .spotlights .spotlight .about p {
  text-align: left;
  font: bold 13px/20px Arial, sans-serif;
}
.carusel .spotlights .spotlight .about p.model {
  color: #111017;
  height: 33px;
  margin-bottom: 10px;
}
.carusel .spotlights .spotlight .about p.price {
  color: #0bb1e8;
}
.carusel .spotlights .spotlight .about p img {
  margin: auto 0;
}
.footer_menu {
  margin-top: 55px;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 8px;
  display: inline-block;
  box-sizing: border-box;
  height: 41px;
  width: 100%;
  background: url("../img/footer-menu.png") no-repeat center;
  text-align: justify;
}
.footer_menu ul {
  list-style-type: none;
  display: inline;
}
.footer_menu ul li {
  display: inline;
}
.footer_menu ul li a {
  display: inline-block;
  color: #ffffff;
  font: 300 13px/13px Arial, sans-serif;
  text-decoration: none;
}
.footer_menu ul li a:hover {
  color: #0bb1e8;
}
.footer_menu ul img {
  display: inline;
}
.footer_menu span {
  width: 100%;
  display: inline-block;
}
.footer-links {
  display: inline-block;
  font: 300 13px/20px Arial, sans-serif;
  color: #111017;
}
.footer-links p {
  display: inline-block;
}
.footer-links a {
  font: 300 13px/13px Arial, sans-serif;
  text-decoration: none;
  color: #0bb1e8;
  display: inline-block;
  border-bottom: 1px solid;
}
.text-aqua {
  text-decoration: none;
  color: #0bb1e8;
  font: normal 13px/13px Arial, sans-serif;
}
.text-aqua.bold {
  font-weight: bold;
}
.text-black {
  text-decoration: none;
  color: #111017;
  font: normal 13px/13px Arial, sans-serif;
}
.text-black.bold {
  font-weight: bold;
}
.text-white {
  text-decoration: none;
  color: #ffffff;
  font: normal 13px/13px Arial, sans-serif;
}
.text-white.bold {
  font-weight: bold;
}
.note {
  text-align: left;
}
.note p {
  display: inline-block;
}
.note a {
  border-bottom: 1px solid;
}
.row-view-content-short {
  width: 634px;
  float: right;
  box-sizing: border-box;
  margin-top: 10px;
}
.contacts {
  width: 615px;
  margin-top: 10px;
}
.contacts button {
  margin-right: 0;
  margin-left: 10px;
}
.contacts textarea {
  width: 513px;
  height: 519px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  border: 1px solid;
  border-color: #cacaca;
  resize: none;
}
table {
  width: 100%;
  text-align: left;
  margin-top: 34px;
}
table tr td {
  height: 30px;
  vertical-align: middle;
}
table tr td.button {
  height: 60px;
}
table tr td.textarea-about {
  vertical-align: top;
}
table tr td button {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  float: right;
  width: 61px;
  height: 23px;
  text-align: center;
  color: #ffffff;
  background: url("../img/button.png");
}
table td.middle {
  width: 353px;
  text-align: left;
}
table td.wide {
  width: 515px;
}
table td.wide input {
  width: 513px;
  float: left;
}
table td.info {
  width: 145px;
}
table td.required {
  width: 136px;
}
table input {
  float: none;
  width: 331px;
  display: block;
  height: 21px;
  padding: 0;
  margin: 0 auto;
}
.pages {
  float: right;
  margin-right: 20px;
}
.pages a:active {
  border: none;
}
.pages a:first-child {
  border: none;
}
.product-info {
  width: 490px;
  float: right;
}
.product-info .description {
  float: left;
}
.product-info .description p {
  text-align: left;
  margin: 0;
  display: block;
}
.product-info .description p.model {
  font: bold 13px/16px Arial, sans-serif;
  color: #111017;
}
.product-info .description p.date {
  font: normal 11px/16px Arial, sans-serif;
  color: #8a8a8a;
}
.product-info .description p.price {
  font: bold 13px/24px Arial, sans-serif;
  color: #0bb1e8;
}
.product-info p {
  display: inline-block;
  color: #111017;
  font: normal 13px/16px Arial, sans-serif;
  text-align: left;
  margin-top: 16px;
}
.product-info .price-button {
  float: right;
  width: 100px;
  height: 32px;
  background: url("../img/price-button.png") no-repeat center;
}
.product-info .price-button p {
  float: none;
  display: block;
  margin: auto;
  font: 300 24px/32px "Myriad Pro Regular", Arial, sans-serif;
  text-align: center;
  color: #2f3638;
}
.product-info .details {
  width: 145px;
  text-align: center;
  height: 13px;
  margin-top: 12px;
  float: right;
  margin-right: 25px;
}
.product-info .details a {
  font: normal 13px/16px Arial, sans-serif;
  color: #0bb1e8;
  display: inline;
}
.product-info .details a.left {
  float: left;
}
.product-info .details a.right {
  float: right;
}
.product-info .details p {
  display: inline;
  vertical-align: top;
}
.new {
  margin-bottom: 16px;
  margin-top: 16px;
}
